{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'posts/detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    {{obj.title}} detail
{% endblock title %}


{% block content %}

{{obj.title}}
<hr>
{{obj.body}}
<br>
<br>
<button class="btn btn-info" id="back-btn">Back to all posts</button>
<button class="btn btn-primary" id="update-btn">Update post</button>
<button class="btn btn-danger" id="delete-btn">Delete post</button>


<div id="spinner-box" class="text-center mt-7">
    <div class="spinner-border" role="status"></div>
</div>
<div class="mt-1" id="post-box"></div>

{% endblock content %}